$red:hsl(1, 90%, 64%);
$blue:hsl(219, 85%, 26%);

//neutral

$lightBlue1:hsl(210, 60%, 98%);
$lightBlue2:hsl(211, 68%, 94%);
$lightBlue3:hsl(205, 33%, 90%);
$greyBlue:hsl(219, 14%, 63%);
$darkGreyBlue:hsl(219, 12%, 42%);
$darkBlue:hsl(224, 21%, 14%);